nav {
    background-color: var(--light-navigation-bg-color);
    margin-bottom: 20px;
}

ul li {
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px 30px 20px 30px;
}

ul a:hover {
    box-shadow: inset 0 -6px 0 var(--light-navigation-hover-color);
    cursor: pointer;
}

ul li img {
    width: 27px;
    margin-right: 10px;
}