<nav>
    <div class="wrapper">
        <ul class="enableFlex rowFlex wrapFlex">
            <a routerLink="/dashboard" routerLinkActive="active">
                <li class="enableFlex rowFlex centerFlex">
                    <img src="assets/icons/dashboard-icon.png">
                    Dashboard
                </li>
            </a>
            <a routerLink="/batch-reports" routerLinkActive="active">
                <li class="enableFlex rowFlex centerFlex">
                    <img src="assets/icons/batch-report-icon.png">
                    Batch reports
                </li>
            </a>
            <a routerLink="/statistical-analysis" routerLinkActive="active">
                <li class="enableFlex rowFlex centerFlex">
                    <img src="assets/icons/statistical-analysis-icon.png">
                    Statistial Analysis
                </li>
            </a>
        </ul>
    </div>
</nav>
