<nav>
    <div class="wrapper">
        <ul class="enableFlex rowFlex wrapFlex">
            <a routerLink="/dashboard" routerLinkActive="active">
                <li class="enableFlex rowFlex centerFlex">
                    <img src="{{ assetsService.dashboardIcon }}">
                    Dashboard
                </li>
            </a>
            <a routerLink="/batch-reports" routerLinkActive="active">
                <li class="enableFlex rowFlex centerFlex">
                    <img src="{{ assetsService.batchReportIcon }}">
                    Batch reports
                </li>
            </a>
            <a routerLink="/statistical-analysis" routerLinkActive="active">
                <li class="enableFlex rowFlex centerFlex">
                    <img src="{{ assetsService.statisticalAnalysisIcon }}">
                    Statistial Analysis
                </li>
            </a>
        </ul>
    </div>
</nav>
