<div class="container shadow">
    <h3 class="enableFlex centerFlex">Real time visualization</h3>
   
    <div *ngFor="let data of realtimeData | slice:(realtimeData.length-1):realtimeData.length" class="enableFlex flexRow spaceAroundFlex wrapFlex">
        <span class="enableFlex rowFlex centerFlex rtvbox">
            <span class="enableFlex columnFlex centerFlex">
                <img src="{{ assetsService.temperatureIcon }}">
                <p>Temperature</p>
            </span>
            <h4>{{ data.Temperature || 0 }}</h4>
        </span>
        <span class="enableFlex rowFlex centerFlex rtvbox">
            <span class="enableFlex columnFlex centerFlex">
                <img src="{{ assetsService.batchIdIcon }}">
                <p>Batch id</p>
            </span>
            <h4>{{ data.BatchId || 0 }}</h4>
        </span>
        <span class="enableFlex rowFlex centerFlex rtvbox">
            <span class="enableFlex columnFlex centerFlex">
                <img src="{{ assetsService.producedIcon }}">
                <p>Produced</p>
            </span>
            <h4>{{ data.ProdProcessedCount || 0 }}</h4>
        </span>
        <span class="enableFlex rowFlex centerFlex rtvbox">
            <span class="enableFlex columnFlex centerFlex">
                <img src="{{ assetsService.humidityIcon }}">
                <p>Humidity</p>
            </span>
            <h4>{{ data.Humidity || 0 }}</h4>
        </span>
        <span class="enableFlex rowFlex centerFlex rtvbox">
            <span class="enableFlex columnFlex centerFlex">
                <img src="{{ assetsService.amountToProduceIcon }}">
                <p>Amount to produce</p>
            </span>
            <h4>{{ data.Products || 0 }}</h4>
        </span>
        <span class="enableFlex rowFlex centerFlex rtvbox">
            <span class="enableFlex columnFlex centerFlex">
                <img src="{{ assetsService.acceptableProductsIcon }}">
                <p>Acceptable products</p>
            </span>
            <h4>{{ data.ProdProcessedCount || 0 }}</h4>
        </span>
        <span class="enableFlex rowFlex centerFlex rtvbox">
            <span class="enableFlex columnFlex centerFlex">
                <img src="{{ assetsService.vibrationIcon }}">
                <p>Vibration</p>
            </span>
            <h4>{{ data.Vibration || 0 }}</h4>
        </span>
        <span class="enableFlex rowFlex centerFlex rtvbox">
            <span class="enableFlex columnFlex centerFlex">
                <img src="{{ assetsService.productsPerMinuteIcon }}">
                <p>Product per minute</p>
            </span>
            <h4>{{ data.CurSpeed || 0 | number: '1.0-0' }}</h4>
        </span>
        <span class="enableFlex rowFlex centerFlex rtvbox">
            <span class="enableFlex columnFlex centerFlex">
                <img src="{{ assetsService.defectProductsIcon }}">
                <p>Defect products</p>
            </span>
            <h4>{{ data.ProdDefectiveCount || 0 }}</h4>
        </span>
    </div>
</div>

