<span (click)="changeHidden()" id="button" class="enableFlex centerFlex shadow">
    <p id="alertReminder" class="shadow">{{ numberOfNotifications }}</p>   
    <img src="{{ assetsService.bellIcon }}">
</span>

<div *ngIf="hidden" id="notificationDisplay" class="shadow">
    <span id="triangle"></span>
    <h3>Notifications</h3>
    <div *ngFor="let notification of notifications" id="notificationDisplayInnerBox" class="enableFlex columnFlex rightFlex" [routerLink]="['/batch-report', notification.BatchId]">
        <p>new</p>
        <p>Batch production (ID: {{ notification.BatchId }}) has been completed!</p>
        <p>{{ notification.DateTime }}</p>
        <span id="line"></span>
    </div>
</div>