:root {
    /** Light mode **/
    --light-primary-text-color: #000000;
    --light-secondary-text-color: #ffffff;
    --light-third-text-color: #666766;
    --light-body-bg-color: #f4f6fa;
    --light-header-bg-color: #dfe4ea;
    --light-navigation-bg-color: #d1d6e0;
    --light-navigation-hover-color: #f59d19;
    --light-btn-success-bg-color: #53b36e;
    --light-btn-success-border-color: #31ac60;
    --light-btn-warning-bg-color: #3996d3;
    --light-btn-warning-border-color: #2a81bb;
    --light-primary-meter-bg-color: #f49d16;
    --light-secondary-meter-bg-color: #354a5e;
    --light-meter-back-bg-color: #d0d6e0;
    --light-bell-alert-bg-color: #f59d19;
    --light-notification-alert-bg-color: #31ac60;
    --light-notification-bg-color: #ffffff;
    --light-container-bg-color: #ffffff;
    --light-search-bg-color: #d0d6e0;
    --light-switch-color: #ffffff;
    --light-switch-bg-color: #939393;
    --light-input-border-color: #bababa;
    --light-footer-bg-color: #ffffff;

    /** Dark mode **/
    --dark-primary-text-color: #ffffff;
    --dark-third-text-color: #949494;
    --dark-body-bg-color: #2c3e50;
    --dark-header-bg-color: #3d5369;
    --dark-navigation-bg-color: #34495e;
    --dark-navigation-hover-color: #f59d19;
    --dark-btn-success-bg-color: #53b36e;
    --dark-btn-success-border-color: #31ac60;
    --dark-btn-warning-bg-color: #3996d3;
    --dark-btn-warning-border-color: #2a81bb;
    --dark-primary-meter-bg-color: #f49d16;
    --dark-secondary-meter-bg-color: #718093;
    --dark-meter-back-bg-color: #2c3e50;
    --dark-bell-alert-bg-color: #f59d19;
    --dark-notification-alert-bg-color: #31ac60;
    --light-notification-bg-color: #d2c3e50;
    --dark-container-bg-color: #354a5e;
    --dark-search-bg-color: #d2c3e50;
    --dark-input-border-color: #2b3d4f;
    --dark-footer-bg-color: #000000;
}

/** Default overall settings **/
* {
    margin: 0;
    padding: 0;
    user-select: none;
    border: none;
    color: inherit;
    list-style-type: none;
    text-decoration: none;
    outline: none;
    font-family: 'Roboto', sans-serif; 
}

/** Flexbox **/
.enableFlex {
    display: flex;
}

.centerFlex {
    justify-content: center;
    align-items: center;
}

.centerLeftFlex {
    justify-content: flex-start;
    align-items: center;
}

.centerRightFlex {
    justify-content: flex-end;
    align-items: center;
}

.rowFlex {
    flex-direction: row;
}

.columnFlex {
    flex-direction: column;
}

.wrapFlex {
    flex-wrap: wrap;
}

.spaceBetweenFlex {
    justify-content: space-between;
    align-content: space-between;
}

.spaceAroundFlex {
    justify-content: space-around;
    align-content: space-around;
}

.flexSizeOne {
    flex: 1;
}

.flexSizeTwo {
    flex: 2;
}

/** Default page design **/
html, body {
    height: 100%;
}

body {
    background-color: var(--light-body-bg-color);
}

.wrapper {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
}

.container {
    height: 100%;
    background-color: var(--light-container-bg-color);
    border-radius: 12px;
    padding: 15px 30px 15px 30px;
    margin-bottom: 20px;
}

.container > h3 {
    font-size: 1em;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.btnDefault {
    background-color: gray;
    color: var(--light-secondary-text-color);
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: bold;
    padding: 10px 30px 10px 30px;
    border-radius: 12px;
    border: 1px solid #000000;
    margin: 0 5px 0 5px;
    min-width: 110px;
}

.btnDefault:hover {
    cursor: pointer;
}

.btnSuccess{
    background-color: var(--light-btn-success-bg-color);
    color: var(--light-secondary-text-color);
    border: 1px solid var(--light-btn-success-border-color);
}

.btnSuccess:hover {
    background-color: var(--light-btn-success-border-color);
    border: 1px solid var(--light-btn-success-bg-color);
}

.btnWarning {
    background-color: var(--light-btn-warning-bg-color);
    color: var(--light-secondary-text-color);
    border: 1px solid var(--light-btn-warning-border-color);
}

.btnWarning:hover {
    background-color: var(--light-btn-warning-border-color);
    color: var(--light-secondary-text-color);
    border: 1px solid var(--light-btn-warning-bg-color);
}

.shadow {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.09);
}