:root {
    --primary-text-color: #000000;
    --secondary-text-color: #ffffff;
    --third-text-color: #666766;
    --body-bg-color: #f4f6fa;
    --header-bg-color: #dfe4ea;
    --navigation-bg-color: #d1d6e0;
    --navigation-hover-color: #f59d19;
    --btn-success-bg-color: #53b36e;
    --btn-success-border-color: #31ac60;
    --btn-warning-bg-color: #3996d3;
    --btn-warning-border-color: #2a81bb;
    --primary-meter-bg-color: #f49d16;
    --secondary-meter-bg-color: #354a5e;
    --meter-back-bg-color: #d0d6e0;
    --bell-alert-bg-color: #f59d19;
    --notification-alert-bg-color: #31ac60;
    --notification-bg-color: #dfe4ea;
    --notification-header-bg-color: #666766;
    --notification-line-color: #666766;
    --notification-hover-color: #f59d19;
    --container-bg-color: #ffffff;
    --search-bg-color: #d0d6e0;
    --switch-color: #666766;
    --switch-bg-color: #ffffff;
    --input-border-color: #bababa;
    --input-border-bg-color: #ffffff;
    --footer-bg-color: rgba(255, 255, 255, 0.75);
}

/** Default overall settings **/
* {
    margin: 0;
    padding: 0;
    user-select: none;
    border: none;
    color: inherit;
    list-style-type: none;
    text-decoration: none;
    outline: none;
    font-family: 'Roboto', sans-serif; 
}

/** Flexbox **/
.enableFlex {
    display: flex;
}

.centerFlex {
    justify-content: center;
    align-items: center;
}

.centerLeftFlex {
    justify-content: flex-start;
    align-items: center;
}

.centerRightFlex {
    justify-content: flex-end;
    align-items: center;
}

.rightFlex {
    justify-content: flex-end;
    align-items: flex-end;
}

.leftFlex {
    justify-content: flex-start;
    align-items: flex-start;
}

.rowFlex {
    flex-direction: row;
}

.columnFlex {
    flex-direction: column;
}

.wrapFlex {
    flex-wrap: wrap;
}

.spaceBetweenFlex {
    justify-content: space-between;
    align-content: space-between;
}

.spaceAroundFlex {
    justify-content: space-around;
    align-content: space-around;
}

.flexSizeOne {
    flex: 1;
}

.flexSizeTwo {
    flex: 2;
}

/** Default page design **/
html, body {
    height: 100%;
}

body {
    background-color: var(--body-bg-color);
}

.wrapper {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
}

.container {
    height: 100%;
    background-color: var(--container-bg-color);
    border-radius: 12px;
    padding: 30px 30px 30px 30px;
    margin-bottom: 20px;
}

.container > h3 {
    font-size: 1em;
    color: var(--primary-text-color);
    text-transform: uppercase;
    margin-bottom: 15px;
}

.btnDefault {
    background-color: gray;
    color: var(--secondary-text-color);
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: bold;
    padding: 10px 30px 10px 30px;
    border-radius: 12px;
    border: 1px solid #000000;
    margin: 0 5px 0 5px;
    min-width: 110px;
}

.btnDefault:hover {
    cursor: pointer;
}

.btnSuccess{
    background-color: var(--btn-success-bg-color);
    color: var(--secondary-text-color);
    border: 1px solid var(--btn-success-border-color);
}

.btnSuccess:hover {
    background-color: var(--btn-success-border-color);
    border: 1px solid var(--btn-success-bg-color);
}

.btnWarning {
    background-color: var(--btn-warning-bg-color);
    color: var(--secondary-text-color);
    border: 1px solid var(--btn-warning-border-color);
}

.btnWarning:hover {
    background-color: var(--btn-warning-border-color);
    color: var(--secondary-text-color);
    border: 1px solid var(--btn-warning-bg-color);
}

.shadow {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.09);
}