<div class="container enableFlex centerLeftFlex columnFlex spaceBetweenFlex shadow">
    <h3>Resources</h3>
    
    <span class="enableFlex centerFlex shadow">
        <h3>Barley 100%</h3>
    </span>
    <span class="enableFlex centerFlex shadow">
        <h3>Yeast 100%</h3>
    </span>
    <span class="enableFlex centerFlex shadow">
        <h3>Hops 100%</h3>
    </span>
    <span class="enableFlex centerFlex shadow">
        <h3>Malt 100%</h3>
    </span>
    <span class="enableFlex centerFlex shadow">
        <h3>Wheat 100%</h3>
    </span>
</div>