<div class="container enableFlex centerLeftFlex columnFlex spaceBetweenFlex shadow">
    <h3>Resources</h3>
    
    <span class="resourceBg enableFlex centerLeftFlex shadow">
        <h3>Barley {{ getResource("Barley") || 100}}%</h3>
        <span id="resourceBarley"></span>
    </span>
    <span class="resourceBg enableFlex centerLeftFlex shadow">
        <h3>Yeast {{ getResource("Yeast") || 100}}%</h3>
        <span id="resourceYeast"></span>
    </span>
    <span class="resourceBg enableFlex centerLeftFlex shadow">
        <h3>Hops {{ getResource("Hops") || 100}}%</h3>
        <span id="resourceHops"></span>
    </span>
    <span class="resourceBg enableFlex centerLeftFlex shadow">
        <h3>Malt {{ getResource("Malt") || 100}}%</h3>
        <span id="resourceMalt"></span>
    </span>
    <span class="resourceBg enableFlex centerLeftFlex shadow">
        <h3>Wheat {{ getResource("Wheat") || 100}}%</h3>
        <span id="resourceWheat"></span>
    </span>
</div>
