table {
    width: 100%;
    border-collapse: collapse;
}

table tr:first-of-type {
    text-transform: uppercase;
}

table th {
    text-align: left;
}

table tr, th, td {
    font-size: 1em;
    color: var(--third-text-color);
}

tr:first-of-type {
    border-bottom: 2px solid var(--third-text-color);
}

table th {
    font-size: 0.85em;
    padding-bottom: 15px;
}

table td {
    padding: 20px 10px 20px 10px;
}

table tr:not(:first-of-type):hover > td{
    background-color: var(--batch-row-hover-color);
    cursor: pointer;
    color: var(--third-text-color);
}

button {
    margin-top: 20px;
}