div > div  {
    width: 42px;
    background-color: var(--switch-bg-color);
    margin: 0 10px 0 10px;
    padding: 4px;
    border-radius: 25px;
}

#dot  {
    border-radius: 25px;
    padding: 4px;
    width: 10px;
    height: 10px;
    background-color: var(--switch-color);
}

#dot:hover {
    cursor: pointer;
}

label {
    font-weight: bold;
    font-size: 0.7em;
    color: var(--switch-color);
}

input[type=radio] {
    height: 17px; 
    width: 17px
}