<h3>Create batch header</h3>

<form [formGroup]="messageForm" (ngSubmit)="sendMessage('start')">
    <label>Batch id:</label>
    <input type="number" formControlName="batchId" placeholder="Enter a batch Id"><br> 
    <label>Product type:</label>
    <input type="number" formControlName="productType" placeholder="Enter a product type"><br>
    <label>Amount:</label>
    <input type="number" formControlName="productAmount" placeholder="Enter an amount"><br>
    <label>Speed:</label>
    <input type="number" formControlName="machineSpeed" placeholder="Enter a speed"><br>
    <input type="submit" value="start">
</form>   


