h1 {
    margin-bottom: 10px;
    font-size: 1.7em;
    color: var(--primary-text-color);
}

span {
    border-bottom: 1px solid var(--batch-row-border-color);
}

span:last-of-type {
    border: 0;
    margin-top: 35px;
}

span p:last-of-type {
    font-style: italic;
}

p {
    color: var(--third-text-color);
    font-size: 1.1em;
    margin: 35px 0 35px 0;
}

@media (max-width: 800px) {
    h1 {
        font-size: 1.3em;
    }
    p {
        font-size: 0.9em;
    }
}